/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*Fim Resets*/


/*Logo*/
.logo {
    width: 50%;
}
.start {
    width: 20%;
    padding: 10px;
}
/*Fim Logo*/



/*Menu*/

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    height: 200px;
    padding: 20p 0;
}

.menu {
  display: flex;
  gap: 2rem;
  padding-top: 30px;
  position: absolute;
  left: 55%;
}

.menu a {
    display: block;
    padding: .5rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#btn-mobile {
    display: none;
    color: black;
}
/*Fm Menu*/

/*hover menu*/
.menu a:hover {
    background-color: #017143;
    color: white;
    padding: 20px;
    transition: 0.4s;
    border-radius: 40px;
}
/*Fim hover menu*/


/*Container Conteudos*/
section.sobre {
    height:  calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -50%;
    right: -200px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-color: #017143;
}

/*Link Sociais*/
.social_media {
    position: absolute;
    right: 190px;
    top: 100px;
}

.social_media img {
    width: 50%;
    display: block;
    margin: 30px 0;
}
/*Link Sociais Fim*/

/*Texto Sobre*/

.texto_sobre h1{
    font-size: 50px;
}

.texto_sobre p {
    width: 60%;
}

button {
    background-color: #017143;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    border: none;
}
/*Texto Sobre Fim*/

/*Imagens*/
/*Responsivo*/

@media (max-width: 600px) {

    .menu a {
        color: white;
    }

    .texto_sobre {
        position: relative;
        top: -120px;
    }

    .texto_sobre h1 {
        width: 200%;
        font-size: 29px;
    }

    .texto_sobre p {
        width: 100%;
        font-size: 10px;
    }

        
    .extras {
    position: absolute;
    left: 30px;
    bottom: -70%;
    border-radius: none;
    background-color: none;
    }

    .extras img {
        position: relative;
        right: -90px;
        width: 300px;
    }

    .opcoes img{
        width: 20px;
        position: relative;
        top: -160px;
    }

    .social_media {
        position: absolute;
        top: 100%;
        left: 14%;
    }
    .social_media img {
        width: 30px;
        display: inline-block;
        margin: 30px;
    }

    .face img {
        width: 20px;
    }

    .logo img{
        width: 30%;
    }
}

/*responsive bar*/

@media (max-width: 600px) {  
        .menu {
          display: block;
          position: absolute;
          width: 100%;
          top: 70px;
          left: 0;
          background: rgb(0, 0, 0);
          height: 0;
          transition: .6s;
          z-index: 1000;
          text-align: center;
          visibility: hidden;
          overflow-y: hidden;
          
        }
      
        #nav.active .menu {
          height: calc(100vh - 70px);
          visibility: visible;
        }
      
        .menu a {
          padding: 1rem 0;
          margin: 0 1rem;
          border-bottom: 2px solid rgba(0, 0, 0, .05);
        }
      
        #btn-mobile  {
          position: absolute;
          
          z-index: 1000;
          top: 10px;
          left: 85%;
          display: flex;
          padding: .5rem 1rem;
          font-size: 1rem;
          border: none;
          background: none;
          cursor: pointer;
        }
      
        #hamburger {
          width: 20px;
          border-top: 2px solid;
        }
         #hamburger::after, #hamburger::before {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background: currentColor;
          margin-top: 5px;
          transition: .3s;
          position: relative;
         }
         #nav.active #hamburger {
          border-top-color: transparent;
         }
      
         #nav.active #hamburger::before {
          transform: rotate(135deg);
         }
      
         #nav.active #hamburger::after {
            transform: rotate(-135deg);
            top: -7px;
         }
      
    
}

